.project-image
  = form_for current_project, html: {class: 'hidden' } do |f|
    = f.text_field :image_url
  = file_field :project, :image_url, accept: 'image/*', class: 'hidden file-field'
  %btn.btn.btn-default.btn-sm.upload-image
    %i.fa.fa-image
    = t('.upload_image')
  = image_tag project_image(current_project)