.project-row
  = render 'users/avatar', :user => project.ideator
  .project-details
    - if project.idea? && !local_assigns[:widget]
      %i.fa.fa-lightbulb-o.idea-icon
    = link_to project.title, project, class: "project-title project-#{project.status}"
    = render 'projects/index/tags', :project => project
    .project-subtitle= project.subtitle
    .project-meta
      .project-contributors{:title => project.users.pluck(:name).to_sentence, :data => {:toggle => "tooltip", :placement => 'right'}}
        %i.fa.fa-users.fa-fw
        = project.users.count
      .project-last-updated
        %i.fa.fa-clock-o
        %span.text-muted= t('.last_updated', :time => time_ago_in_words(last_updated_time(project, user_list)))