.well{class: class_for_quick_idea }
  = form_for Project.new, :html => {:role => 'form', :class => 'quick-creation-form'} do |f|
    = f.label :title, :class => 'uppercase text-left' do
      %i.fa.fa-lightbulb-o
      %span= t('pages.index.create.title')
    .form-group
      = f.text_field :title, :class => 'form-control', :placeholder => t('pages.index.create.title_placeholder')
    .input-group
      = f.text_field :subtitle, :class => 'form-control', :placeholder => t('pages.index.create.subtitle_placeholder')
      .input-group-btn
        %button.btn.btn-primary{:type => 'submit'}
          %i.fa.fa-plus-circle
          = t('pages.index.create.create')
