.well.hidden-xs#random-idea
  .content
    %label
      %i.fa.fa-random
      %a.random-title.uppercase{href: 'javascript:;'}= t('.title')
    .pull-right
      = render 'projects/index/like_button', :project => @random_project, :widget => 'random'
    - if @random_project.present?
      = render 'projects/index/project_row', :project => @random_project, :user_list => nil
      - if @random_project.image_url.present?
        %br
        .project-image
          = image_tag project_image(@random_project)
    - else
      = render 'projects/index/no_projects'