= form_for project , :html => {:class => 'project-form form-horizontal'} do |f|
  .form-group
    = f.label :title, :class => 'control-label'
    .controls
      = f.text_field :title, :placeholder => t('.placeholders.title'), :class => 'input-xlarge form-control'
  .form-group
    = f.label :subtitle, :class => 'control-label'
    .controls
      = f.text_field :subtitle, :placeholder => t('.placeholders.subtitle'), :class => 'input-xlarge form-control'
  .form-group
    = f.label :demo_url, :class => 'control-label'
    .controls
      = f.url_field :demo_url, :placeholder => t('.placeholders.demo_url'), :class => 'input-xlarge form-control'
  .form-group
    = f.label :repo_url, :class => 'control-label'
    .controls
      = f.url_field :repo_url, :placeholder => t('.placeholders.repo_url'), :class => 'input-xl form-control'

  .form-group
    .controls
      = link_to project_path, class: 'btn btn-danger', data: {confirm: 'Are you sure you want to delete this project?'}, method: :delete do
        %i.fa.fa-times-circle
        Delete Project
      &nbsp;
      = f.submit :class => 'btn btn-primary', :id => 'project-submit-button'
