= cache(project) do
  .project-row
    = link_to project do
      .title= project.title
      .subtitle= project.subtitle
      .last-update
        Last Updated
        = time_ago_in_words project.updated_at
        ago