.project-page
  = link_to projects_path ,:class => 'back' do
    %i.icon-chevron-left
    %span= t('pages.show.back')

  = render 'projects/show/page_header'

  %h2.title= @github_page_title

  = render @github_page

