.row
  .col-xs-12.col-sm-4.pull-right
    = render 'projects/index/quick_idea'
    = render 'projects/index/random_idea', :project => @random_project

  .col-xs-12.col-sm-4
    %i.fa.fa-lightbulb-o
    %span.uppercase= t('.ideas')
    .panel
      - if @projects.empty?
        = render 'projects/index/no_projects'
      - else
        - @projects.each do |project|
          = render 'projects/index/project_row', :project => project

  .col-xs-12.col-sm-4
    %i.fa.fa-paper-plane-o
    %span.uppercase= t('.lifted_projects')
    .panel
      - if @projects.empty?
        = render 'projects/index/no_projects'
      - else
        - @projects.each do |project|
          = render 'projects/index/project_row', :project => project
