%ul.nav.nav-pills
  - all_filters.each do |filter|
    %li{ active_class_if_current(filter) }
      = link_to t(filter, :scope => 'pages.index.filters'), projects_path(:filter => filter)
  %li.pull-right
    = link_to new_project_path, :class => ['btn', 'btn-mini'] do
      %i.icon-plus-sign
      %span= t('pages.index.new')

-if @tag
  .filtered
    = t('pages.index.filtered')
    = link_to projects_path do
      .tag
        %i.icon-remove
        = @tag.name
.projects
  - if @projects.empty?
    .well
      %h1.text-center.text-info
        %i.icon-list-ul
        = t('pages.index.no_projects')
  - else
    .well.paddingless
      - @projects.each do |project|
        = render 'projects/project_row', :project => project