.page-header
  %h1
    = t('pages.index.title')
    = link_to new_project_path, :class => ['btn', 'btn-mini'] do
      %i.icon-plus-sign
      %span= t('pages.index.new')

-if @tag
  .filtered
    Filtered for tag
    = link_to projects_path do
      .tag
        %i.icon-remove
        = @tag.name
- else
  %ul.nav.nav-pills
    - all_filters.each do |filter|
      %li{ active_class_if_current(filter) }
        = link_to t(filter, :scope => 'pages.index.filters'), projects_path(:filter => filter)
.projects
  .well
    - if @projects.empty?
      %p= t('pages.index.no_projects')
    - else
      - @projects.each do |project|
        = render 'projects/project_row', :project => project