.project-page
  = link_to projects_path ,:class => 'back' do
    %i.icon-chevron-left
    %span= t('pages.show.back')

.page-header
  %h1= t('pages.new.title')

= render 'projects/form', :project => @project

!= s3_uploader_form :id => 'file-upload-form' do
  != hidden_field_tag 'Content-Type', ''
  != file_field_tag :file