!= javascript_include_tag 'pages/projects/new'

!= s3_uploader_form :id => 'post' do
  != hidden_field_tag 'Content-Type', 'image/jpeg'
  != file_field_tag :file, :multiple => true
  %textarea.markdown-text{:rows => 3, :placeholder => 'Enter markdown text'}
  %h2 Preview
  .markdown-preview
  != submit_tag

