.project-page
  = link_to projects_path ,:class => 'back' do
    %i.icon-chevron-left
    %span= t('pages.show.back')

  = render 'projects/show/page_header'
  = render 'projects/show/floating_info_box'
  = form_for [current_project, @post], :html => {:class => 'form-horizontal'} do |f|
    .control-group
      = render :partial => 'components/post', :locals => {:f => f}
    .control-group
      = f.submit "Create post"

