%nav.navbar.navbar-default{:role => 'navigation'}
  .navbar-header
    = link_to projects_path do
      .navbar-brand.uppercase
        %span
          = image_tag('logo/logo-small.png', :class => 'logo')
        = t('site.title')

  .collapse.navbar-collapse
    %ul.nav.navbar-nav.navbar-left
      %li
        %form.navbar-form{:role => 'search'}
          .form-group
            = text_field_tag :query, nil, :placeholder => t('layout.header.search_placeholder'), :class => 'form-control search-query', :autocomplete => :off

    %ul.nav.navbar-nav.navbar-right
      %li.dropdown
        %a{:href => '#', :class => 'dropdown-toggle', :data => {:toggle => 'dropdown'}}
          %b.caret
          = current_user.nickname
          =render 'users/avatar_img', :user => current_user, :type => 'tiny'
          %ul.dropdown-menu
            %li
              %a{:href => sign_out_path}
                %i.fa.fa-sign-out
                %span= t('layout.header.sign_out')