%nav.navbar.navbar-default{:role => 'navigation'}
  .navbar-header.pull-left
    = link_to projects_path do
      .navbar-brand.uppercase
        %span
          = image_tag('logo-small.png', :class => 'logo')
        = t('site.title')

  .navbar-header.pull-left.hidden-xs
    %ul.nav.navbar-nav
      %li
        %form.navbar-form{:role => 'search'}
          .form-group
            = text_field_tag :query, nil, :placeholder => t('layout.header.search_placeholder'), :class => 'form-control search-query', :autocomplete => :off

  .navbar-header.pull-right.hidden-sm.hidden-xs
    %ul.nav.navbar-nav
      %li.dropdown
        %a.dropdown-toggle{:href => '#', :data => {:toggle => 'dropdown'}}
          =render 'users/avatar_img', :user => current_user, :type => 'tiny'
          = current_user.nickname
          %span.caret
          %ul.dropdown-menu{:style => 'min-width: 100%;'}
            %li
              %a{:href => sign_out_path}
                %i.fa.fa-sign-out
                %span= t('layout.header.sign_out')

  .navbar-header.pull-right.no-collapse.nav-pills
    %ul.nav.navbar-nav
      = render 'projects/index/pill', :filter => :all,    :icon => 'fa-list'
      = render 'projects/index/pill', :filter => :mine,   :icon => 'fa-child'