.comment.media
  %strong.lead
    = render 'users/avatar_img', :user => post.user, type: :tiny
    = post.user.name
  .when.pull-right
    %span.text-muted= t('.time_ago', :time_ago => time_ago_in_words(post.created_at))
    - if current_user == post.user
      .actions
        %span.text-muted= '|'
        = link_to [current_project, post], :method => :delete do
          %i.fa.fa-times{:title => t('.delete_post')}

  .body
    ~ markdown.render(post.text).html_safe
  %hr