.info-box.pull-right
  = image_tag current_project.image
  - if current_project.repo_url.present? or current_project.demo_url.present?
    %ul.nav.nav-pills.nav-stacked.pull_left
      - if current_project.repo_url.present?
        %li
          = link_to current_project.repo_url, :class => 'a-link' do
            %i.icon-github-alt
              %span= t('pages.show.urls.repo')
      - if current_project.demo_url.present?
        %li
          = link_to current_project.demo_url, :class => 'a-link' do
            %i.icon-desktop
              %span= t('pages.show.urls.demo')

  - if current_project.has_a_repo?
    %h4.github_pages_icons
      = link_to '', project_readme_path(current_project), :class => 'a-link icon-book', :title => t('pages.show.urls.readme')
      = link_to '', project_todo_path(current_project), :class => 'a-link icon-check', :title => t('pages.show.urls.todo')
      = link_to '', project_changelog_path(current_project), :class => 'a-link icon-edit', :title => t('pages.show.urls.changelog')