.info-box.pull-right
  = image_tag current_project.image
  %ul.nav.nav-pills.nav-stacked.pull_left

    - if current_project.repo_url.present?
      %li
        = link_to current_project.repo_url, :class => 'a-link' do
          %i.icon-github-alt
            %span= t('pages.show.urls.repo')
    - if current_project.demo_url.present?
      %li
        = link_to current_project.demo_url, :class => 'a-link' do
          %i.icon-desktop
            %span= t('pages.show.urls.demo')

    - if current_project.has_a_repo?
      %li
        = link_to project_readme_path(current_project), :class => 'a-link' do
          %i.icon-book
            %span= t('pages.show.urls.readme')
      %li
        = link_to project_todo_path(current_project), :class => 'a-link' do
          %i.icon-check
            %span= t('pages.show.urls.todo')
      %li
        = link_to project_changelog_path(current_project), :class => 'a-link' do
          %i.icon-edit
            %span= t('pages.show.urls.changelog')

  .well-small
    - if @show_statuses
      = link_to project_path(current_project), :class => 'btn btn-mini btn-warning' do
        = t('pages.show.filter_updates')
        %i.icon-remove
    - else
      = link_to project_path(current_project, :statuses => true), :class => 'btn btn-mini btn-success' do
        = t('pages.show.filter_updates')