.page-header
  %h1.title
    = status_icon(current_project)
    = current_project.title

    = link_to edit_project_path(current_project), :class => 'production-btn-fix btn btn-small' do
      %i.icon-edit
      %span= t('pages.show.edit')

    = link_to current_project, :method => :delete, :data => {:confirm => 'Are you sure?'}, :class => 'btn btn-small btn-danger' do
      %i.icon-remove
      %span= t('pages.show.delete')

    .subtitle
      = current_project.subtitle
      &nbsp;
  = render 'projects/show/expanded_info'