- if has_saved_referer? and current_page? project_path
  = link_to back_to_index_url, {:class => 'hidden-sm hidden-xs'} do
    %h4
      %i.fa.fa-long-arrow-left
      %span= t('.back')

= render :partial => 'projects/show/project_sidebar/image'
%h1= current_project.title
%p.lead= current_project.subtitle
= render :partial => 'projects/show/project_sidebar/details'
= render :partial => 'projects/show/project_sidebar/collaborators'