.project-toolbar
  - unless current_project.lifted?
    = link_to lift_project_path, method: :post, class: 'btn btn-primary' do
      %i.fa.fa-paper-plane
      %span= t('.lift')
  = link_to like_project_path(current_project), :method => 'post', class: "btn #{like_button_class(likes_current_project?)}" do
    - if likes_current_project?
      %i.fa.fa-thumbs-o-down
      %span= t('.unlike')
    - else
      %i.fa.fa-thumbs-o-up
      %span= t('.like')
  - if current_project.users.include?(current_user)
    = link_to edit_project_path(current_project), class: 'btn btn-default' do
      %i.fa.fa-edit
      = t('.edit')