.root.text-center
  = image_tag('logo-big.png', :class => 'animated-big-logo')
  .row
    %h1.uppercase= t('pages.root.title')
  .row
    %p= t('pages.root.text')
  .row
    = link_to sign_in_path do
      %button.btn.btn-sign-in
        %span= t('pages.root.sign_in')
        %i.fa.fa-github-alt{:alt => 'GitHub'}