.root.text-center
  .row
    = render 'layouts/components/messages'
  = image_tag('logo-big.png', :class => 'animated-big-logo')
  .row
    .col-xs-12
      %h1.uppercase= t('.title')
  .row
    .col-xs-12
      %p= t('.subtitle')
  .row
    - if @organizations.present?
      %span.select= t('.select_org')
      = form_tag organization_path, :method => :POST , :html => {:role => 'form'} do
        .form-group
          = select_tag(:org_id, options_for_select(options_for_organizations(@organizations)), :class => 'form-control')
        %button{:class => 'btn btn-white', :type => 'submit'}
          %span= t('.continue')
          %i.fa.fa-arrow-circle-right
    - else
      .col-xs-12
        = link_to sign_in_path do
          %button{:class => 'btn btn-white'}
            %span= t('.sign_in')
            %i.fa.fa-github-alt{:alt => 'GitHub'}
