!!! 5
%html.no-js{:lang => 'en'}
  %head
    %meta{:charset => 'utf-8'}
    %title= t('site.title')
    %meta{:name => 'description', :content => t('site.description')}
    %meta{:name => 'viewport', :content => 'width=device-width, initial-scale=1, user-scalable=no'}

    %link{:href => '/favicon.png', :rel => 'shortcut icon'}

    %link{:href => '/apple-icon.png', :rel => 'apple-touch-icon'}
    %link{:href => '/apple-icon-76x76.png', :rel => 'apple-touch-icon', :sizes => '76x76'}
    %link{:href => '/apple-icon-120x120.png', :rel => 'apple-touch-icon', :sizes => '120x120'}
    %link{:href => '/apple-icon-152x152.png', :rel => 'apple-touch-icon', :sizes => '152x152'}

    = csrf_meta_tags
    = stylesheet_link_tag 'application', 'data-turbolinks-track' => true, :media => 'all'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
  %body
    - unless headless_page?
      = render 'layouts/components/header'
    .container
      = render 'layouts/components/messages'
      = yield
    = render 'layouts/components/footer'
    - if headless_page?
      = render 'layouts/components/clouds'
    - yield :bottom_javascripts
    = configure_s3_storage
